* {
    margin: 0;
    padding: 0;
    font-family: "Lato", arial;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}
/*webpage transtition*/ 
.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--dark);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
  }
  
  .transition-1.is-active {
    pointer-events: all;
    opacity: 1;
  }
  
  .transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: var(--dark);
    transition: 0.5s ease-out;
  }
  
  .transition-2.is-active {
    left: 0px;
  }
  
  .transition-3 {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: var(--dark);
    transition: 0.5s ease-out;
  }
  
  .transition-3.is-active {
    top: 0;
  }

h1 {
    margin-top: 7%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
/* navbar styles */

nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}
nav .submenu ul {
    text-align: left;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .active {
    color: blue;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav a{
    color: black;
    text-decoration: none;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    color: blue;
    transition: .5s;
}

.submenu {
    display: none;
}

nav ul li:hover .submenu {
    display: block;
    position: absolute;
}

nav ul li:hover .submenu ul{
    display: list-item;
    display: block;
}

/* front page column */

.column {
    position: relative;
    width: 100%;
}

.column img {
    height: auto;
}

.column .btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
}

.column .btn1:hover {
    background-color: black;
    color: white;
    transition: .7s;
}

.column .btn2 {
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
}

.column .btn2:hover {
    background-color: black;
    color: white;
    transition: .7s;
}


.centered-content {
    text-align: center;
}

/* bio page */
.about-bio {
    text-align: left;
    margin: auto;
    width: 30%;
}

/* image gallery */
body{
    margin:10px;
    padding:0;
    text-align:center;
}

.container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:75px 225px;
    grid-gap:10px;
    grid-auto-flow: dense;
}

.gallery-item{
    width:100%;
    height:100%;
    
}

.gallery-item .image{
    width: 100%;
    height: 100%;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
}

.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
}

@media screen and (max-width:500px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column:span 1;
    }
}

@keyframes move-down{

    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}

/* film and bio styles */
.centered-box {
    margin: auto;
    width: 40%;
}

.centered-video {
    margin: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 500px;
 
  position: relative;
  margin: auto;
}

.carousel-img {
    width: 70%;
    height: 70%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /*width: auto;*/
  height: 50px;
  width: 50px;
  margin-top: -22px;
  padding: 16px;
  color: rgb(95, 90, 90);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 20px 20px 20px 20px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev {
  left: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}