* {
    margin: 0;
    padding: 0;
    font-family: "Lato", arial;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}
/*webpage transtition*/ 
.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--dark);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
  }
  
  .transition-1.is-active {
    pointer-events: all;
    opacity: 1;
  }
  
  .transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: var(--dark);
    transition: 0.5s ease-out;
  }
  
  .transition-2.is-active {
    left: 0px;
  }
  
  .transition-3 {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: var(--dark);
    transition: 0.5s ease-out;
  }
  
  .transition-3.is-active {
    top: 0;
  }

h1 {
    margin-top: 7%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
/* navbar styles */

nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav .active {
    color: blue;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav a{
    color: black;
    text-decoration: none;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    color: blue;
    transition: .5s;
}

.submenu {
    display: none;
}

nav ul li:hover .submenu {
    display: block;
    position: absolute;
}

nav ul li:hover .submenu ul{
    display: list-item;
    display: block;
}

/* front page column */

.column {
    position: relative;
    width: 100%;
}

.column img {
    height: auto;
}

.column .btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
}

.column .btn1:hover {
    background-color: black;
    color: white;
    transition: .7s;
}

.column .btn2 {
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
}

.column .btn2:hover {
    background-color: black;
    color: white;
    transition: .7s;
}


.centered-content {
    text-align: center;
}

/* bio page */
.about-bio {
    text-align: left;
    margin: auto;
    width: 30%;
}

/* image gallery */

.gallery {
    margin-right: 100px;
    margin-left: 100px;
}


.gallery img {
    margin-bottom: 10px;
    max-width: 300px;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    width: 300px;
    height: 350px;
    
}

